{% extends 'shared/layout.html' %}

{% block content %}
    <h2>Welcome! Here are all the parts:</h2>
    <table>
        <thead>
            <tr>
                <th>Part ID</th>
                <th>Part Name</th>
                <th>Part Cost</th>
                <th>Part Manufacturer</th>
            </tr>
        </thead>
        <tbody>
            {% for part in parts %}
                <tr>
                    <td>{{ part['part_id'] }}</td>
                    <td>{{ part['part_name'] }}</td>
                    <td>{{ part['part_cost'] }}</td>
                    <td>{{ part['part_manufacturer'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}